* {
	padding: 0;
	margin: 0;
}

body {
	background: url("/media/img/background.jpg") repeat-y #e8e8e8 center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #333333;
	text-align:center;
}

img {
	border: none;
}

a {
	color: #57626a;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #000;
}

textarea {
	max-width:300px;
	max-height:150px;
}

label {
	font-size:13px;
	font-weight:normal;
}

#wrap {
	margin: 0 auto;
	width: 900px;
	text-align: left; /* counter the body center */
	min-height:500px;
}

#header {
	padding: 10px 0 20px 0;
}

#header h1 {
	font-size: 26px;
	font-weight: 100;
	padding: 12px 0 5px 10px;
}

#header h1 a {
	color: #57626a;
	text-decoration: none;
}

#header h1 a:hover {
	color: #57626a;
	text-decoration: none;
}

#header h2 {
	color: #ccc;
	font-size: 15px;
	font-weight: 100;
	padding: 0 0 0 11px;
}

#menu {
	height: 40px;
	line-height: 40px;
	background: #57626a;
	text-transform: uppercase;
	width: 901px;
	margin-left:0px;
}

#menu ul {
	padding-left: 5px;
	list-style-type: none;
}

#menu ul li {
	display: block;
	float: left;
}

#menu ul li a {
	color: #eee;
	padding: 0 10px;
	text-decoration: none;
	font-weight: 100;
	font-size: 14px;
}

#menu ul li a:hover {
	color: #eee;
	text-decoration: underline;
}

#content {
	padding: 10px 10px;
	min-height:500px;
}

.left {
	margin-left:0px;
	margin-top:0px;	
	float: left;
	width: 688px;
	text-align: justify;
}

.left h2 {
	color: #FF4800;
	font-size: 20px;
	font-weight: 100;
	padding: 5px 0;
}

.left p {
	padding: 5px 0;
}

.left ul {
	margin-left:30px;
}

.right {
	margin-right:0px;
	margin-top:0px;	
	float: right;
	width: 150px;
	padding: 10px;
	font-size: 12px;
}

.right ul {
	list-style-type: square;
	padding: 5px 10px 10px 20px;
	color: #57626a;
}

.right h2 {
	height: 30px;
	font-size: 16px;
	color: #666;
	line-height: 30px;
	font-weight: 600;
}

.right a {
	text-decoration: none
}

#footer {
	width:881px;
	background: #eee;
	border-top: 2px solid #57626a;
	margin-top: 20px;
	text-align: center;
	color: #333;
	font-size: 11px;
	padding: 10px;
	margin-left:0x;
}